<h1>New Userposition</h1>
<h5>user idはcookieの値が自動で設定されます。   </h5>
<%= form_for @userposition, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<% end %>

<%= render 'form', userposition: @userposition %>

<%= link_to 'Back', userpositions_path %>
