<%= stylesheet_link_tag 'space', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_packs_with_chunks_tag 'space_index' %>

		<div id="world"></div>
		<div id="screen"></div>
		<div id="ui">
			<ul id="glass">
				<li><a href="#" data-no="0">透明</a></li>
				<li><a href="#" data-no="1">赤</a></li>
				<li><a href="#" data-no="2">緑</a></li>
				<li><a href="#" data-no="3">青</a></li>
			</ul>
		</div>
