<%= stylesheet_link_tag 'space', media: 'all' %>
<%= javascript_pack_tag 'space_index' %>
<%= javascript_pack_tag 'space_ui' %>
<script>
  (function(d) {
    var config = {
      kitId: 'pez4ecw',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
		<div id="world"></div>
		<div id="screen"></div>
		<div id="ui">
			<div id="header">
				<img src="/images/logo.png" alt="WHO ZIPS YOU?" class="logo">
				<nav>
					<ul>
						<li class="section">
							<button class="button_speak" type="button"><span></span></button>
							<div id="button_speak" style="display:none;">
								<div class="speak_active">
									<p>ビデオ通話ツール (カメラはオフ) を使って，
									制作展のメンバーから直接説明を聞くことができます．</p>
									<h2>【 通話における禁止・注意事項 】</h2>
									<p>皆様が安全に楽しめるように下記禁止事項および注意事項を設けさせていただいております．ご理解とご協力の程，よろしくお願いいたします．</p>
									<h3>①撮影・録画について</h3>
									<p>プライベート情報保護の観点からいかなる撮影·録画·録音も禁止とさせていただきます．</p>
									<h3>②迷惑・妨げとなる行為について</h3>
									<p>ビデオ通話は皆様が自由に出入りできる空間のため，他のお客様がいらっしゃる可能性があります．他のお客様·スタッフへの暴言、迷惑行為はご遠慮ください．</p>
									<h3>③その他の注意事項</h3>
									<p>※ビデオ通話は一人5分を目安にお願いします．</p>
									<p>※ビデオオフ，マイクミュートから始まります．</p>
									<p>※ビデオ通話対応時間は各日 11:00-19:00 です．</p>
								</div>
								<div class="speak_active"><a href="#" onclick="gtag('event', 'call_展示空間', {'event_category' : 'call',});return false;"><img src="/images/button_speak11@2x.png" class="button_speak_launch" width="200px" alt=""></a></div>
								<p class="speak_inactive">11:00~19:00の間，制作展メンバーから直接話を聞くことができます．</p>
							</div>
						</li>
						<li class="section"><a class="button_review" href="https://docs.google.com/forms/d/e/1FAIpQLSffj8nRImiU8udHxho5y-IZpp7uqf53oqNvIycAh8CtWnhKTA/viewform?usp=sf_link" target="_blank"><span></span></a></li>
						<li class="section">
							<div class="switchArea">
								<input type="checkbox" onclick="setTimeout('location.href=\'https://www.iiiexhibition.com/\';',1000)" id="switch1">
								<label for="switch1"><span></span></label>
								<div id="swImg"></div>
							</div>
						</li>
						<li class="section"><a class="twitter" href="https://twitter.com/iiiexhibition" target="_blank"></a></li>
						<li class="section"><a class="facebook" href="https://www.facebook.com/iiiexhibition/" target="_blank"></a></li>
						<li class="section"><a class="instagram" href="https://www.instagram.com/iiiexhibition/" target="_blank"></a></li>
					</ul>
				</nav>
			</div>
			<div id="glass__container">
				<button class="glass__buttons" type="button"><img src="/images/colorglass_transparent.png" alt="" width="80px" height="" border="0" /></button>
				<div id="glass__buttons">
					<ul class="glass__flex">
						<li><a href="#" data-no="0" id="button__normal"><img src="/images/colorglass_transparent.png" alt="" width="200px" height="" border="0" /></a></li>
						<li><a href="#" data-no="1" id="button__red"><img src="/images/colorglass_red.png" alt="" width="200px" height="" border="0" /></a></li>
						<li><a href="#" data-no="2" id="button__green"><img src="/images/colorglass_green.png" alt="" width="200px" height="" border="0" /></a></li>
						<li><a href="#" data-no="3" id="button__blue"><img src="/images/colorglass_blue.png" alt="" width="200px" height="" border="0" /></a></li>
					</ul>
				</div>
			</div>
			<div id="map__container">
				<button class="map__modal"><img src="/images/map_small.png" alt="" width="100px" height="" border="0" /></button>
				<div id="map__modal">
					<div id="map_pos">
						<img src="/images/map_large.png" alt="" border="0" />
						<div id="map_point"></div>
					</div>
				</div>
			</div>
			<!--
			<div id="stickpad__container">
				<img src = "/images/stickpad.png" alt="" width="160px" height="" border="0" />
			</div>
			<div id="stick__container">
				<div class="stick-cursor"><img id="stick__cursor" src="/images/stick.png" alt="" width="88px" height="" /></div>
			</div>
			-->
		</div>
		<div id="works">
			<div class="back close"></div>
			<div id="works0" class="works">
				<div class="works_head">
					<div class="works_title_jp">居の中の蛙</div>
					<div class="works_title_en">A flog in his house</div>
				</div>
				<div class="works_main">
					<p>これは井戸の生配信である。限られた素材を使う蛙の表現とはー</p>
					<div  class="works_img">
						<img src="https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/img/816.jpg" alt="居の中の蛙">
					</div>
					<a href="https://extra2020.iiiexhibition.com/works/A_flog_in_his_house/?space=0" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works1" class="works">
				<div class="works_head">
					<div class="works_title_jp">NUM. (Ningen Unique Mirror)</div>
				</div>
				<div class="works_main">
					<p>数・數・number・número・संख्या・رقم・Число・সংখ্যা・数字・nummer・nomer・숫자・ਗਿਣਤੀ・సంఖ్య・nombre・संख्या・எண்・numero…</p>
					<div  class="works_img">
						<img src="https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/img/819.png" alt="NUM. (Ningen Unique Mirror)">
					</div>
					<a href="https://extra2020.iiiexhibition.com/works/NUM/?space=1" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works2" class="works">
				<div class="works_head">
					<div class="works_title_jp">感情の写像</div>
					<div class="works_title_en">Projections of impressions</div>
				</div>
				<div class="works_main">
					<p>すべての作品を観ることでこの作品は完成する…</p>
					<div  class="works_img">
						<img src="https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/img/817.png" alt="感情の写像">
					</div>
					<a href="https://extra2020.iiiexhibition.com/works/Projections_of_impressions/?space=2" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works3" class="works">
				<div class="works_head">
					<div class="works_title_jp">気配のふるまい</div>
				</div>
				<div class="works_main">
					<p>気配とは何か．この場でのあなたの気配はどうふるまうだろうか．</p>
					<div  class="works_img">
						<img src="https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/img/811.jpg" alt="気配のふるまい">
					</div>
					<a href="https://extra2020.iiiexhibition.com/works/kehai/?space=3" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works4" class="works">
				<div class="works_head">
					<div class="works_title_jp">Inside-Out,Outside-In,Or</div>
				</div>
				<div class="works_main">
					<p>内に出る、外に入る、内は外で、外は内。<br>あるいは…</p>
					<div  class="works_img">
						<img src="https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/img/815.jpg" alt="Inside-Out,Outside-In,Or">
					</div>
					<a href="https://extra2020.iiiexhibition.com/works/Inside-Out_Outside-In_Or/?space=4" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works5" class="works">
				<div class="works_head">
					<div class="works_title_jp">emotional distance</div>
				</div>
				<div class="works_main">
					<p>感情の色をまとったアバターとなってバーチャル空間で交流しよう</p>
					<div  class="works_img">
						<img src="https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/img/818.png" alt="emotional distance">
					</div>
					<a href="https://extra2020.iiiexhibition.com/works/emotional_distance/?space=5" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works6" class="works">
				<div class="works_head">
					<div class="works_title_jp">大爆走！オーディオレーシング</div>
					<div class="works_title_en">Super Audio Racing</div>
				</div>
				<div class="works_main">
					<p>音だけで疾走するレースゲーム！キミはそこにどんな世界を視る？</p>
					<div  class="works_img">
						<img src="https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/img/812.png" alt="大爆走！オーディオレーシング">
					</div>
					<a href="https://extra2020.iiiexhibition.com/works/Super_Audio_Racing/?space=6" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works7" class="works">
				<div class="works_head">
					<div class="works_title_jp">ぼやける境界</div>
				</div>
				<div class="works_main">
					<p>ディスプレイを紙で覆うことで境界を曖昧にする映像作品。</p>
					<div  class="works_img">
						<img src="https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/img/810.jpg" alt="ぼやける境界">
					</div>
					<a href="https://extra2020.iiiexhibition.com/works/boyakerukyoukai/?space=7" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works8" class="works">
				<div class="works_head">
					<div class="works_title_jp">対雨</div>
					<div class="works_title_en">with rain</div>
				</div>
				<div class="works_main">
					<p>ディスプレイを水面に見立て、雨の移ろいを表現した映像作品</p>
					<div  class="works_img">
						<img src="https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/img/820.png" alt="対雨">
					</div>
					<a href="https://extra2020.iiiexhibition.com/works/with_rain/?space=8" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works9" class="works">
				<div class="works_head">
					<div class="works_title_jp">Graviter</div>
				</div>
				<div class="works_main">
					<p>重力からの解放は自由か不自由か。</p>
					<div  class="works_img">
						<img src="https://object-storage.tyo2.conoha.io/v1/nc_7d0030b822e246239683a325ebfb1974/iiiex/img/814.jpg" alt="Graviter">
					</div>
					<a href="https://extra2020.iiiexhibition.com/works/Graviter/?space=9" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works10" class="works">
				<div class="works_head">
					<div class="works_title_jp">展示空間</div>
					<div class="works_title_en">Exhibition space</div>
				</div>
				<div class="works_main">
					<p>　この空間から全ての作品にアクセスできます．矢印キーまたはWASDキーでジッパーに近づいてみましょう．<br>
　これは，視点や態度を変化させ多面的に捉える行為を「色眼鏡を変える」行為にみたてた作品です．木の葉のようにみえるものは，メガネ(色眼鏡)を変化して見ることのできる生き物の別の姿になっています．</p>
				</div>
			</div>
		</div>
		<button class="tutorial"></button>
		<div id="tutorial" style="display:none;">
			<div class="tutorial_div">東京大学制作展Extra 展示空間へようこそ．</br>
			ここから全ての作品を体験できます．</br></br>
			<span>矢印キー</span>または<span>WASDキー</span>で<span>ジッパー</span>に近づきましょう．</br></br>
			作品は<span>右上のマップ</span>から確認できます．</br>
			<span>メガネ</span>のボタンを押すと何かが起こるかも...? </br></br>
			(スマホ又はタブレットをご使用の方は本サイトのWORKSから各作品を体験できます)</div>
		</div>

<%= javascript_pack_tag 'space_dailyco' %>
