<%= stylesheet_link_tag 'space', media: 'all' %>
<%= javascript_packs_with_chunks_tag 'space_index' %>
<%= javascript_packs_with_chunks_tag 'space_ui' %>
<script>
  (function(d) {
    var config = {
      kitId: 'pez4ecw',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
		
		<div id="world"></div>
		<div id="screen"></div>
		<div id="ui">
			<div id="glass__container">
				<button class="glass__buttons" type="button"><img src="/images/normal.png" alt="" width="80px" height="" border="0" /></button>
				<ul id="glass__buttons">
					<li><a href="#" data-no="0" id="button__normal"><img src="/images/normal.png" alt="" width="200px" height="" border="0" /></a></li>
					<li><a href="#" data-no="1" id="button__red"><img src="/images/red.png" alt="" width="200px" height="" border="0" /></a></li>
					<li><a href="#" data-no="2" id="button__green"><img src="/images/green.png" alt="" width="200px" height="" border="0" /></a></li>
					<li><a href="#" data-no="3" id="button__blue"><img src="/images/blue.png" alt="" width="200px" height="" border="0" /></a></li>
				</ul>
			</div>
			<div id="map__container">
				<button class="map__modal"><img src="/images/map.png" alt="" width="100px" height="" border="0" /></button>
				<div id="map__modal">
					<div id="map_pos">
						<img src="/images/map.png" alt="" border="0" />
						<div id="map_point"></div>
					</div>
					<ul id="map__title"><li>①ぼやける境界</li><li>②気配のふるまい</li></ul>
				</div>
			</div>
			<div id="stickpad__container">
				<img src = "/images/stickpad.png" alt="" width="160px" height="" border="0" />
			</div>
			<div id="stick__container">
				<div class="stick-cursor"><img id="stick__cursor" src="/images/stick.png" alt="" width="88px" height="" /></div>
			</div>
		</div>
		<div id="works">
			<div class="back close"></div>
			<div id="works0" class="works">
				<div class="works_head">
					<div class="works_title_jp">000 オーディオレーシングゲーム</div>
					<div class="works_title_en">Audio Racing Game</div>
				</div>
				<div class="works_main">
					<p>数・數・number・número・संख्या・رقم・Число・সংখ্যা・数字・nummer・nomer・숫자・ਗਿਣਤੀ・సంఖ్య・nombre・संख्या・எண்・numero…</p>
					<div  class="works_img">
						<img src="/images/works/main0.png" alt="雨礫">
					</div>
					<a href="#" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works1" class="works">
				<div class="works_head">
					<div class="works_title_jp">111 オーディオレーシングゲーム</div>
					<div class="works_title_en">Audio Racing Game</div>
				</div>
				<div class="works_main">
					<p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>
					<div  class="works_img">
						<img src="/images/works/main0.png" alt="雨礫">
					</div>
					<a href="#" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works2" class="works">
				<div class="works_head">
					<div class="works_title_jp">222 オーディオレーシングゲーム</div>
					<div class="works_title_en">Audio Racing Game</div>
				</div>
				<div class="works_main">
					<p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>
					<div  class="works_img">
						<img src="/images/works/main0.png" alt="雨礫">
					</div>
					<a href="#" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works3" class="works">
				<div class="works_head">
					<div class="works_title_jp">333 オーディオレーシングゲーム</div>
					<div class="works_title_en">Audio Racing Game</div>
				</div>
				<div class="works_main">
					<p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>
					<div  class="works_img">
						<img src="/images/works/main0.png" alt="雨礫">
					</div>
					<a href="#" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works4" class="works">
				<div class="works_head">
					<div class="works_title_jp">444 オーディオレーシングゲーム</div>
					<div class="works_title_en">Audio Racing Game</div>
				</div>
				<div class="works_main">
					<p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>
					<div  class="works_img">
						<img src="/images/works/main0.png" alt="雨礫">
					</div>
					<a href="#" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works5" class="works">
				<div class="works_head">
					<div class="works_title_jp">555 オーディオレーシングゲーム</div>
					<div class="works_title_en">Audio Racing Game</div>
				</div>
				<div class="works_main">
					<p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>
					<div  class="works_img">
						<img src="/images/works/main0.png" alt="雨礫">
					</div>
					<a href="#" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works6" class="works">
				<div class="works_head">
					<div class="works_title_jp">666 オーディオレーシングゲーム</div>
					<div class="works_title_en">Audio Racing Game</div>
				</div>
				<div class="works_main">
					<p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>
					<div  class="works_img">
						<img src="/images/works/main0.png" alt="雨礫">
					</div>
					<a href="#" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works7" class="works">
				<div class="works_head">
					<div class="works_title_jp">777 オーディオレーシングゲーム</div>
					<div class="works_title_en">Audio Racing Game</div>
				</div>
				<div class="works_main">
					<p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>
					<div  class="works_img">
						<img src="/images/works/main0.png" alt="雨礫">
					</div>
					<a href="#" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works8" class="works">
				<div class="works_head">
					<div class="works_title_jp">888 オーディオレーシングゲーム</div>
					<div class="works_title_en">Audio Racing Game</div>
				</div>
				<div class="works_main">
					<p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>
					<div  class="works_img">
						<img src="/images/works/main0.png" alt="雨礫">
					</div>
					<a href="#" class="works_btn">展示を見る</a>
				</div>
			</div>
			<div id="works9" class="works">
				<div class="works_head">
					<div class="works_title_jp">999 オーディオレーシングゲーム</div>
					<div class="works_title_en">Audio Racing Game</div>
				</div>
				<div class="works_main">
					<p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森</p>
					<div  class="works_img">
						<img src="/images/works/main0.png" alt="雨礫">
					</div>
					<a href="#" class="works_btn">展示を見る</a>
				</div>
			</div>
		</div>
