<%= stylesheet_link_tag 'space', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_packs_with_chunks_tag 'space_index' %>
<%= javascript_packs_with_chunks_tag 'space_ui' %>

		<div id="world"></div>
		<div id="screen"></div>
		<div id="ui">
			<div id="glass__container">
				<button id="glass__now" type="button"><img src="/images/colorglass_transparent.png" alt="" width="80px" height="" border="0" /></button>
				<ul id="glass__buttons">
					<li><a href="#" data-no="0" id="button__normal"><img src="/images/colorglass_transparent.png" alt="" width="80px" height="" border="0" /></a></li>
					<li><a href="#" data-no="1" id="button__red"><img src="/images/colorglass_red.png" alt="" width="80px" height="" border="0" /></a></li>
					<li><a href="#" data-no="2" id="button__green"><img src="/images/colorglass_green.png" alt="" width="80px" height="" border="0" /></a></li>
					<li><a href="#" data-no="3" id="button__blue"><img src="/images/colorglass_blue.png" alt="" width="80px" height="" border="0" /></a></li>
				</ul>
			</div>
			<div id="map__container">
				<button class="inline"><img src="/images/map.png" alt="" width="100px" height="" border="0" /></button>
			</div>
		</div>
