
<h1>Admins#dailyco</h1>
<p>Find me in app/views/admins/dailyco.html.erb</p>

<ul id="users_list">
</ul>

<input type="text" id="user_to_be_removed">
<button id="remove_user">追い出す</button>

<%= javascript_packs_with_chunks_tag 'admins_dailyco' %>
