// Place all the styles related to the space controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@charset "utf-8";

@import "modaal/dist/css/modaal";

body {
	background: #000000;
    margin: 0;
	-webkit-text-size-adjust: 100%;
	font-family: dnp-shuei-mgothic-std, sans-serif;
}
a {
	text-decoration: none;
}

button {
	visibility: hidden;

	img {
		visibility: visible;
	}
}

.modaal-content-container {
	list-style: none;
	display: flex;
	justify-content: space-between;

	ul{
		list-style: none;
		padding-right: 100px;

		li {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

#world {
	width: 100%;
	overflow: hidden;
}
#screen {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	pointer-events: none;
}
#ui {
	#glass__container{
		position: absolute;
		top: 120px;
		right: 10px;

		#glass__buttons {
			overflow: hidden;
			background: rgba(255, 255, 255, 0.3);
			padding-left: 0px;
			display: none;
			list-style: none;
	
			li {
				float: none;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-right: 10px;
				margin-left: 10px;
	
				a {
					display: block;
					width: 80px;
					height:40px;
					color: #ffffff;
					font-size: 24px;
					text-align: center;
					line-height: 40px;
				}
			}
		}
		.glass__buttons {
			cursor: pointer;
		}

	}

	.map__modal{
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}

	#map__modal{
		overflow: hidden;
		display: none;
	}

	#stickpad__container{
		position: absolute;
		bottom: 10px;
		left: 10px;
		height: 160px;
		width: 160px;
	}

	#stick__container{
		position: absolute;
		bottom: 46px;
		left: 46px;
		height: 88px;
		width: 88px;
	}

	.stick-cursor img{
		border-radius: 50%;
	}
}
#works {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	
	.back {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		background: rgba(0, 0, 0, 0.8);
	}
	.works {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		display: none;
		width: 600px;
		border: 1px solid #A6A6A6;
		color: #191919;
		padding: 30px;
		background: #FFFFFF;
		
		&_head {
			padding-bottom: 20px;
			border-bottom: 1px solid #A6A6A6;
			text-align: center;
			
			.works_title_jp {
				font-size: 18px;
			}
			.works_title_en {
				font-size: 16px;
			}
		}
		&_main {
			min-width: 320px;
			
			p {
				width: 500px;
				margin: 1em auto;
				font-size: 16px;
				line-height: 1.5;
			}
			.works_img {
				display: block;
				max-width: 320px;
				margin: 36px auto;
				
				img {
					width: 100%;
				}
			}
			.works_btn {
				display: block;
				width: 154px;
				height: 36px;
				margin: 0 auto;
				background: #FFD85C;
				color: #191919;
				font-size: 16px;
				line-height: 36px;
				text-align: center;
			}
		}
	}
}
