// Place all the styles related to the space controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@charset "utf-8";

body {
	background: #000000;
    margin: 0;
	-webkit-text-size-adjust: 100%;
	font-family: dnp-shuei-mgothic-std, sans-serif;
}
a {
	text-decoration: none;
}
button {
	visibility: hidden;

	img {
		visibility: visible;
	}
}

.modaal-content-container {
	list-style: none;
	display: flex;
	justify-content: space-between;

	ul{
		list-style: none;
		padding-right: 100px;

		li {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

#world {
	width: 100%;
	overflow: hidden;
}
#screen {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	pointer-events: none;
}
#ui {
	#glass__container{
		position: absolute;
		top: 120px;
		right: 10px;

		#glass__buttons {
			overflow: hidden;
			background: rgba(255, 255, 255, 0.3);
			padding-left: 0px;
			display: none;
			list-style: none;
	
			li {
				float: none;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-right: 10px;
				margin-left: 10px;
	
				a {
					display: block;
					width: 80px;
					height:40px;
					color: #ffffff;
					font-size: 24px;
					text-align: center;
					line-height: 40px;
				}
			}
		}
	}
	.map__modal{
		position: absolute;
		top: 10px;
		right: 10px;
	}


}