@charset "utf-8";

body {
	background: #000000;
	-webkit-text-size-adjust: 100%;
}
a {
	text-decoration: none;
}
#world {
	width: 100%;
	overflow: hidden;
}
#screen {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	pointer-events: none;
}
#ui {
	#glass {
		position: absolute;
		top: 10px;
		left: 10px;
		overflow: hidden;
		
		li {
			float: left;
			margin-right: 20px;
			background: rgba(255, 255, 255, 0.3);
			
			a {
				display: block;
				width: 80px;
				height:40px;
				color: #ffffff;
				font-sie: 24px;
				text-align: center;
				line-height: 40px;
			}
		}
	}
}